<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand, btn btn-primary"  href="/" role="button">Home</a>
      <a class="navbar-brand, btn btn-primary" href="/articles" role="button">My Blog</a>
      <a class="navbar-brand, btn btn-primary" href="/articles/new" role="button">New Article</a>



    </div>
  </div>
</nav>
